body {
	color: #696969;
	font-family: sans-serif;
	font-size: 17px;
	margin: 0;
	height: 100%;
}

html {
  height: 100%;
  background-color: #696969;
}

.topnav a {
  color: white;
  background-color: #696969;
  display: block;
  overflow: hidden;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav .active {
  color: white;
  background-color: #ff8533;
  font-weight: bold;
}

.topnav .nome-sito {
  color: #ff8533;
  background-color: #696969;
  font-weight: bold;
  font-size: 20px;
  font-style: oblique;
}

.intro {
  background-color: #696969;
}

.testo-intro {
	color: white;
	background-color: #696969;
	font-size: 26px;
	font-style: oblique;
	padding-block-end: 35px;
	padding-left: 30px;
}

.progetto {
	background-color: whitesmoke;
	color: #696969;
	padding: 30px;
	font-size: 18px;
	text-align: justify
}

.mappa {
	background-color: white;
	color: #ff8533;
	padding: 30px;
	font-size: 18px;
}

.esplorazione {
	background-color: #ff8533;
	color: white;
	padding: 30px;
	font-size: 22px;
}

.crediti {
	background-color: #696969;
	color: white;
	text-align:center;
	font-size: 15px;
}

a:link, a:visited{
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.bottone:hover {
	background-color: #ff8533;
	color: white;
	padding: 14px;
}

.foto {
	width: 100%;
 	height: 30%;	
}

footer p {
	text-align:center;
	color: white;
	background-color: #696969;
	font-size: 15px;
}

/*galleria home*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #f1f1f1;
  color: black;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}
/*fine galleria home*/

/* inizio css catalogo */
.tab {
  overflow: hidden;
  background-color: #f2f2f2;
  position:relative;
  left: 3%;
}

.tab button {
  background-color: inherit;
  float: left;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #696969;
  color: white;
}

.tab button.active {
  background-color: #ff8533;
}

.tabcontent {
  display: none;
  padding: 5px 10px;
  border-top: none;
}

.leftcolumn {
  width: 100px;
  position: absolute;
  top: 30%;
  left: 1%;
  padding: 0px;
  width: 20%;
}

.btn {
  background-color: #ff8533;
  display: block;
  border: none;
  color: white;
  margin-top: 15px;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #ff944d;
}

.rightcolumn {
  float: left;
  padding: 15px;
  width: 80%;
}

.titolo-catalogo {
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-style: oblique;
  position: relative;
  left: 2%;
}

.filtra {
  color:white;
  font-size:20px;
  font-weight: bold;
}

.equalcolumn {
  float: left;
  padding: 15px;
  width: 50%;
  position: relative;
  left:2%;
}

.pagination {
  font-size: 13px;
  margin: 20px 0;
  text-align: center;
}

.pagination a {
  background-color: whitesmoke;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #ff8533;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #696969;
  color: whitesmoke;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 5%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  /* columns */
  .column,
  .leftcolumn,
  .rightcolumn,
  .equalcolumn {
    width: 100%;
  }
}

.card {
  background-color: whitesmoke;
}

.container {
  padding: 2px 16px;
}

.card a {
  margin-bottom: 16px;
}

.card .img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.card .img-items {
  width: 100%;
  height: 100%;  
  padding: 15px;
}

/* inizio css item */
.titolo-item {
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-style: oblique;
  position: relative;
  left: 1%;
}
.sottotitolo-item {
  color: #ff8533;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 1%; 
}

.rightcolumn {
  float: right;
  position: relative;
  top:50%;
  left:1%;
  padding: 15px;
  width: 80%;
}

.foto-item {
  width: 35%;
  height: 35%;  
}

.border-section {
  padding: 20px 20px;
  border: 1px solid whitesmoke;
}

/* tabella */
.table-risorse {
  border-top: 10px #d9d9d9;
  margin-block: 15px;
}

.row-risorse {
  list-style: none;
  margin: 0px;
  padding: 15px;
  background-color: #d9d9d9;
  text-align: justify
}

.label {
  color: #ff8533;
  font-weight: bold;
  font-size: 18px;
}

.campo {
  color: #696969;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}





